.parent-about {
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-items: center;
}

.game-history-live {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-history-div {
  display: flex;

  width: 70%;
}

.buttons-flex {
  display: flex;
  flex-direction: row;
  background-color: #1d234d;
  border-bottom: 1px solid black;
}

#btn {
  border-radius: 0px;
  background-color: white;
  color: #666161;
  font-size: small;
}

#btn:focus,
#btn:hover {
  background: #3ca7e4;
  box-shadow: 0px 0px white;
  color: white;
}
#btn:active {
  box-shadow: 0px 0px 0px white;
  color: white;
}

.table-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #1d234d;
}
.main-table {
  background-color: #1d234d;
  color: white;
  font-size: small;
  font: Regular 22px/27px Calibri;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;

  text-align: left;
  text-decoration: none;
}

thead {
  border-top: hidden;
}

.r1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abq {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
