::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

Input {
  text-align: center;
}

.parent-game {
  width: 100vw;
  height: 100vh;
}
.main-div-bg-white {
  background-color: white;
}
.balances {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.balance-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: small;
}

.steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.step-one,
.step-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 20vw;

  background: white 0% 0% no-repeat padding-box;
}

.step-two {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.First {
  display: flex;
  flex-direction: row;

  color: #e2b946;
  font-size: large;
}
.fs {
  padding-left: 5px;
}
.First-amount {
  display: flex;
  flex-direction: row;
}
.first-Step {
  background: #111e77 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000066;
  opacity: 1;
  padding: 5px;
}

.total-flip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: large;
  font-weight: bold;
  background-color: #f5f5f5;
  height: 10vh;
}
.amount-inp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}
.amount-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jallad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.youare {
  font-size: small;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.select-amount {
  color: white;
  font-size: xx-small;
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.youare-betting {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5;
}

.youare-betting-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.minus,
.plus {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  cursor: pointer;
}

.heads {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: -1px -1px 1px #ffffff;
  opacity: 1;
  cursor: pointer;
}

.heads:hover,
.tails:hover {
  color: white;
  background: #111e77;
}
.row-center-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-center-head {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.h-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.h-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: medium;
}
.winning-chance {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: xx-small;
}
.head-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.tails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  background: #f5f5f5 0% 0% no-repeat padding-box;

  opacity: 1;
}

.tail-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px;
}
.winning-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-img,
.tail-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.tail-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tail-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-Step {
  background: #111e77 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 6px #00000066;
  opacity: 1;
  padding: 5px;
  margin: 10px;
}
.second {
  padding-left: 3px;
  color: #e2b946;
  font-size: large;
}

.select-betting {
  font-size: xx-small;

  color: white;
}

.star-coin {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  border: 1px solid #d3a156;
}

.selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

.flip-coin {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#flip-button {
  border: 1px solid #220868;
  box-shadow: 5px 5px 10px;
  background: #efc75e 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 10px #00000042;
  border: 5px solid #220868;
  opacity: 1;
  color: #666161;
}

.input-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#ip-box {
  padding: 5px 50px;
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px -8px 15px #00000029;
  opacity: 1;
  opacity: 1;
  color: black;
}
#your-bet {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  border-radius: 9px;
  opacity: 1;
  color: black;
  align-items: center;
  cursor: default;
}
.-bet {
  background: #f5f5f5 0% 0% no-repeat padding-box;
}
.ur-bet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  background: #f5f5f5 0% 0% no-repeat;
  box-shadow: 2px 2px 10px #0000004f;
  opacity: 1;
}
.head-tail-img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
