.parent-refer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #2a40db, #15206e);
}

.social-btn {
  border-radius: 500px;
  line-height: 0.7em;
  font-size: small;
}
.social-login-flex {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.share {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fbb {
  background-color: #4267b2;
}
.tgg {
  background-color: #0088cc;
}

.first-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.affiliation-text {
  text-align: center;
  color: #ffffff;
  font-size: x-large;
}

.affiliation-description {
  color: white;
  font-size: medium;
  text-align: center;
}

.s-div {
  display: flex;
  flex-direction: row;
}

.first-card {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 20px #00000094;
  border-radius: 7px;
  height: 190px;
  opacity: 1;
  box-sizing: border-box;
  background-color: white;
}

.btn-copier {
  padding: 10px;
}
.second-card {
  background: url("/assets/refer.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 8px 20px #00000094;
  border-radius: 7px;
  opacity: 1;
  height: 190px;
  display: flex;
}
.first-partition {
  width: 50%;
}
.second-partition {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
}

.number-of-refers {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.count-refer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-size: xxx-large;
  color: white;
}

.no-of-referrals {
  border: 1px solid black;
}

.card1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font: Bold large Calibri;
  text-align: center;
  letter-spacing: 0px;
  padding: 5px;
  color: #898585;
  opacity: 1;
}

.affiliate-generation {
  text-align: start;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 43px;
  opacity: 1;
}
.number-ref {
  display: flex;
  flex-direction: column;
}

.copy-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.copy-button-style {
  background: #1d2c97 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}
.copy-button-style:hover {
  background: #1d2c97 0% 0% no-repeat padding-box;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .second-div {
    display: flex;
    flex-direction: column;
  }
}
