.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background: url("/assets/wave.png") no-repeat,
    linear-gradient(180deg, #2a40db, #15206e);
  background-size: 100vw 100vh;
}
